.piece {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #f0c48d;
  border: 2px solid #d2a56c;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #2a2a2a;
  text-align: center;
  font-size: 12px;
  bottom: 5px;
  right: 5px;
  color: #5a5a5a;
}

.holder {
  border-radius: 10px;
}

.draggable {
  cursor: pointer;
}
